html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 980px;
    height: 1386px;
   margin: 40px;
}

.logo{
    width: 110px;
    height: 61px;
    display: inline-block;
    margin-left: 44px;
}
.logo p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
}
.time{
    float: right;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-right: 44px;
}
nav hr{
    width: 892px;
    height: 2px;
    margin-top: 0px;
}
.article_one{
    padding: 40px;
    height: 100%;
    overflow: hidden;
}

.leftimg{
    width: 641px;
    height: 301px;
    background-image: url("../images/pic.jpg");
    float: left;
    position: relative;
}
.leftopcity,.rightopcity{
    width: 191px;
    height: 301px;
    opacity: 0.5;
    float: left;
    position: absolute;
}
.rightopcity{
    /*margin-left: 259px;*/
    right: 0px;
}
.righttitle{
   float:right;
    width: 203px;
    margin-left: 27px;
}
.righttitle hr{
    width: 203px;
    height: 2px;
    margin-top: 0px;
}
.hbiger{
    line-height: 40px;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
}

.righttitle h1{
    margin-bottom: 0px;
    margin-left: -25px;
    margin-top: -20px;
    margin-bottom: -10px;
}
.righttitle p{
    margin: 0px;
}
.righttitle h1 em{
   line-height: 10px;
    padding: 0px;
}
.data32,.css32{
    float: left;
}
hgroup{
    padding-left: 10px;
    display: inline-block;
}
hgroup span{
    display: inline-block;
    padding-top: 10px;
}
.section1,.section2,.section3{
    /*width: 180px;*/
    float: left;
    padding-right:20px;
}
.section1{
    width: 250px;
}
.section2{
    width: 200px;
}
.section3{
    width: 150px;
}
.list p{
    line-height: 16px;
    opacity: 0.7;
}
#leftarticle,#rightarticle{
    width: 420px;
    padding:0px 10px 10px 40px;
    position: relative;
}
#leftarticle{
    float: left;
}
#rightarticle{
    float: left;
}
#leftarticle hr{
    width: 415px;
    height: 2px;
    margin: 0px;
}
#bigger {
   margin-top: 40px;
    height: 100%;
    /*float: left;*/
}
article{
    padding-top: 20px;
    overflow: auto;
}
#span4{
    float: left;
    display:table;
   margin-top: 20px;
}
#leftarticle img{
    float: right;
}
#pic3{
    width: 425px;
    height: 275px;
    background-image:url("../images/pic3.png");
    position: relative;
}
#content{
    padding-left: 20px;
    position: absolute;
    top: 220px;
}
#content div{
    margin-right: 10px;
}
#content span{
    padding-right: 10px;
}

#bottom{
    width: 459px;
    height: 318px;
    background-color:#eeedd6;
    margin-top: 30px;
    overflow: hidden;
}
#top_buttom {
    width: 3px;
    height: 44px;
    display: inline-block;
}
.footer hr{
    width: 892px;
    height: 1px;
}
.icon{
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-bottom:10px solid #10456b;
    display: inline-block;
    height:0px;
    width: 0px;
    margin:-10px 5px 0 0;
}
dd{
    margin-top: 20px;
    margin-left: 20px;
    font-size:16px;
    color:  #5a5b5b ;
}
#bottomright{
    width: 260px;
    height: 160px;
    margin: 0px;
    float: left;
    margin-top: 20px;
 }

#r1{
    float: left;
    margin-left: 10px;

}
#r1 p{
    margin-top: 0px;
    float: left;
}
#r2{
    width: 2px;
    height: 86px;
    background-color: white;
    float: left;
    margin-top: 30px;
}
#r3{
    float: left;
    margin-left: 10px;
}
#r3_p1{
    font-size: 21px;
    color: white;
    font-family: "黑体";
    font-style: italic;
    margin-top: 24px;
}
#r3_p2{
    font-size: 12px;
    color: white;
    font-family: "黑体";
    margin-top: 6px;
}
#bottomleft{
    float: left;
    width: 180px;
    height: auto;
    margin-top: 40px;
 margin-left: 2px;
}
#span9{
    position: relative;
    left: -30px;
    display: inline-block;
    float: left;
    height: 10px;
   top: -20px;
}

#span10{
    position: relative;
    display: inline-block;
    float: right;
    height: 10px;
    top: -20px;
}
.footer p{
    float: right;
    margin: 0px;
    position: relative;
    display: inline-block;
    right: 45px;
}




