body{
    margin: 0px;
    padding: 0px;
}

#test{
    width: 400px;
    height: 200px;
    background-color:#ccc;
    position: absolute;
    top: 50%;
    left: 50%;
   margin-left: -200px;
    margin-top: -100px;
    overflow: hidden;
}
#left-r{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fc0;
    position: absolute;
    top: -50px;
    left: -50px;
}
#right-r{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fc0;
    position: absolute;
    bottom: -50px;
    right: -50px;
}
