body{
    font-size: 1em;
    font-family: "微软雅黑";
}

div{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
    background-color: white;
}
#parent
{
    margin: 10% 0px 2% 10%;
    width: 70%;
    height: 300px;
}
.child1,.child2,.child3,.child4{
    width: 40%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 25px 2% 25px 2%;
}
.child1{
    height: 250px;
}
.child2{
    height: 200px;
}
.child3{
    height:150px ;
}
.child4{
    height: 100px;
}
.button{
    border: 0px ;
    width: 50%;
    margin-left: 10%;
}
label{
    margin-right: -10%;
}
button{
    font-size: 1.2em;
}