#body{
    background: #dcdcdc;
}
header a{
    color: #FFFFFF;
}
#body header a:hover, a:visited ,a:active{
    color:  #dcdcdc;
}
.active{
    color:  #dcdcdc;
}
.content,aside{
    background-color: #FFFFFF;
}
aside p{
    color: #a9a9a9;
}
#footer{
    background-color: black;
    color: #FFFFFF;
}
.content h3,h4{
   color: #a9a9a9;
}
.content th{
    background-color: #000000;
    color: #FFFFFF;
}
#page4 p{
    color: #cbd2c5;
}
#total{
    background-color: #a9a9a9;
}
#button input{
    background-color: #3a50c6;
    color: #ffffff;
}