#body{
    font-family:"微软雅黑";
    font-size: 14px;
}
header{
    font-size: 0.5em;
    font-family: "Adobe Arabic", sans-serif;
}
.content {
    font-family:"微软雅黑";
    font-size: 1em;
}
.content h4{font-size:0.8em }
#page4 h2{font-size: 1.3em;}
#button input{
    font-size: 1em;
    font-family:"微软雅黑";
}
aside{
    font-family:"微软雅黑";
    font-size: 0.7em;
}