body{
padding: 0px;
    margin: 0px;

}
.content{
    margin: 0 auto;
    text-align: left;
    padding: 0px 180px 0px 240px;
    background-color: #eeeeee;
    border: #999 1px solid ;
}
 .middle,
 .left,
 .right{
    float: left;
    position: relative;
     padding: 20px;
     background-color: #ffffff;
     border: #999 1px solid;
}
/*.content .middle{*/
    /*width: 100%;*/
/*}*/
.left{
    width: 200px;
    margin-left: -100%;
    left: -240px;
}
.content .right{
    width: 120px;
    margin-right: -200px;
}

