body{
    font-size: 62.5%;
    text-align: center;
    padding: 20px;
}
.content{
    width: 102em;
    max-width: 95%;
    min-width:62%;
    margin:  0 auto;
    text-align: left;
    background-color: #eee;
    padding: 20px;
    border: #999 1px solid;
    display: table;
}
.content .primary{
    width: 75%;
    float: right;
}
.content .secondary{
    width: 20%;
    float: left;
}
.content .primary .primary{
    max-width: 70%;
    float: left;
    display: inline;
    height: auto;
    background-color: #ffffff;
    border: #999 1px solid;
    padding: 20px;
    font-size: 1.5em;
}

.content .primary .secondary{
    width: 120px;
    height: auto;
    float: right;
    border: #999 1px solid;
    padding: 20px;
    background-color: #ffffff;
}
.content .primary .secondary img{
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 20px;
}
.content .secondary .LOGO{
    width: 200px;
    height: 150px;
    background-color: #ffffff;
    border: #999 1px solid;
    padding: 20px;
}
.content .secondary  h4{
    float: left;
    padding-left: 20px;
    margin: 0px;
}
.content .secondary img{
    float: left;
    padding: 20px;
    border: #999 1px solid;
}
/*.clearfix{*/
    /*clear: both;*/
    /*overflow: auto;*/
    /*zoom: 1;*/
/*}*/